<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" /> -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/docs.css" rel="stylesheet">

  </head>

  <body>
    <!--<a href="https://github.com/driftyco/jetstrap-docs"><img style="position: absolute; z-index: 10000; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>-->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand"><img src="/images/hoppin.png"></a>
                <ul class="nav pull-right">
                    <li><a href="http://hoppin.es/">Hoppin</a></li>
                    <li><a href="http://hoppin.es/#about">About</a></li>
                    <!-- <li style="line-height: 59px; vertical-align: middle"><a href="http://hoppin.es/" class="orange-button">Sign up free</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span3">
                <ul id="menu" class="nav nav-list" data-spy="affix">
                    <li class="nav-header">HOPPIN DOCS</li>
                    <li data-section="home"><a href="/">Home</a></li>
                    <li class="nav-header">MERCHANTS</li>
                    <li data-section="magento"><a href="/magento">Integración Magento</a></li>
                    <li data-section="prestashop"><a href="/prestashop">Integración Prestashop</a></li>
                    <li class="nav-header">AYUDA</li>
                    <li><a href="mailto:support@hoppin.es">Contacta con nosotros</a></li>
                </ul>
            </div>
            <div class="span9">
                {{content}}
            </div>
        </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
